@font-face {
  font-family: 'sen';
  src: url('../assets/fonts/Sen-Regular.otf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'sen';
  src: url('../assets/fonts/Sen-Bold.otf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'sen';
  src: url('../assets/fonts/Sen-ExtraBold.otf');
  font-style: normal;
  font-weight: 800;
}