@use "./reset";
@use "./font-face";
@use "./mixins" as *;
@use "./variables" as *;
:root {
  font-family: "sen", sans-serif;
  color: $text-primary;
}

a {
  text-decoration: none;
  color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  letter-spacing: .1em;
}

h2 {
  text-shadow: 2px 2px $color-secondary;
}

form {
  border-radius: 12px;
}

input, textarea {
  padding: .5rem;
}

.hFlex {
  @include hFlex;
}

.vFlex {
  @include vFlex;
}